<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{#if editor}}
      <script src="/jquery/jquery.min.js"></script>
      <script src="/tinymce/tinymce.min.js"></script>
      <script>
        tinymce.init({
          selector:'textarea',
          plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'template paste textcolor colorpicker textpattern imagetools'
          ],
          toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
          toolbar2: 'print preview media | forecolor backcolor',
        });
      </script>
    {{/if}}
</head>
<body>
<div class="container">
    <nav class="navbar bg-faded">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin">Start</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/pages">Pages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/posts">Posts</a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</div>
<div class="container">{{{body}}}</div>
</body>
</html>
