<form role="form" method="post">
  <fieldset class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" value="{{post.title}}">
  </fieldset>
  <textarea id="mce-textarea-post" name="body">
    {{{post.body}}}
  </textarea>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
<button class="btn btn-danger" onclick="$.ajax({
    url: window.location.href,
    type: 'DELETE',
    success: function(data, textStatus, jqXHR){
      window.location = data.redirect;
    }})">Delete</button>