<nav class="navbar navbar-light bg-faded">
    <ul class="nav navbar-nav">
        {{#each pages}}
            <li class="nav-item">
                <a class="nav-link" href="#">{{title}}</a>
            </li>
        {{/each}}
    </ul>
</nav>